<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to SOMA System</h1>
    <p class="lead">Your ultimate platform for managing academic records and performance.</p>
    <hr class="my-4">
    <p>Explore our features and services to streamline your academic journey.</p>
    <div class="mb-5">
    <a class="btn btn-primary btn-lg me-2" href="#" role="button" routerLink="/course">Get Started</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Transcript</a>
  </div>
 
  </div>
</div>
